{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="productSlugHistories">
    <h3 class="ui top attached header">{{ 'abenmada_broken_link_handler_plugin.ui.slug_histories'|trans }}</h3>

    <div class="ui attached segment">
        {% set groupedSlugs = product.groupSlugsByLocale %}

        {% if groupedSlugs | length > 0 %}
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>{{ 'abenmada_broken_link_handler_plugin.ui.locale'|trans }}</th>
                        <th>{{ 'abenmada_broken_link_handler_plugin.ui.slugs'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for locale, slugs in groupedSlugs %}
                        <tr>
                            <td data-label="locale">{{ locale }}</td>
                            <td data-label="slug">
                                <ul>
                                    {% for slug in slugs %}
                                        <li>{{ slug }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui info message">
                <p>{{ 'abenmada_broken_link_handler_plugin.ui.there_is_no_slug_history_for_your_product_yet' | trans }}</p>
            </div>
        {% endif %}
    </div>
</div>
